<div class="container">
  <h1 class="mt-3">Edit Category</h1>
  @if (model) {
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    ID:
    <p
      class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end"
    >
      {{ model.id }}
    </p>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="model.name"
      />
    </div>
    <div class="mb-3">
      <label for="urlHandle" class="form-label">Url Handle</label>
      <input
        type="text"
        class="form-control"
        name="urlHandle"
        [(ngModel)]="model.urlHandle"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  } @else {
  <div class="alert alert-warning" role="alert">Category not found</div>
  }
</div>
